@import "normalize.css";

.container-fluid,
.row,
.col-12,
.col-lg-6 {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* --- HEADER --- */
#banner a {
  text-align: center;
}

#banner_h1 {
  font-size: 3.5rem;
}

#banner_img {
  height: 50vh;
  width: 100%;
  z-index: -1;
}

#banner_h4 {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
}

#banner_button {
  display: flex;
  justify-content: center;
}

#banner_button a {
  width: 70%;
  padding: 10px 20px;
  margin-bottom: 25px;
}

#banner_button a:hover {
  background-color: white;
  border: 2px solid red;
  color: #333;
  font-weight: bold;
}

@import "./assets/styles/componentStyles.css";
