@import "normalize.css";

.container-fluid,
.row,
.col-12,
.col-lg-6 {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* --- HEADER --- */
#banner a {
  text-align: center;
}

#banner_h1 {
  font-size: 3.5rem;
}

#banner_img {
  height: 50vh;
  width: 100%;
  z-index: -1;
}

#banner_h4 {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
}

#banner_button {
  display: flex;
  justify-content: center;
}

#banner_button a {
  width: 70%;
  padding: 10px 20px;
  margin-bottom: 25px;
}

#banner_button a:hover {
  background-color: white;
  border: 2px solid red;
  color: #333;
  font-weight: bold;
}

/* --- MAIN --- */
#our_mission h1,
#flowers h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

#our_mission {
  background-image: linear-gradient(
    to bottom right,
    #fadcdc,
    white,
    white,
    #fadcdc
  );
}

#our_mission h1,
#flowers_h1 {
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

#our_mission h4 {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
}

main #our_mission #gallery {
  padding-bottom: 25px;
}

#our_mission img {
  padding: 15px 15px 1px 15px;
}

#our_mission #image3 {
  margin-bottom: 15px;
}

#flowers {
  position: relative;
  top: 111.5vh;
  height: 100vh;
  /* background-image: url(./assets/images/alison-cosker.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover; */
}

#flowers h1 {
  padding: 15px;
  margin-top: 130px;
  margin-bottom: 70px;
}

#flowers h3 {
  padding: 20px 40px;
  text-align: justify;
  color: white;
}

#flowers #content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#flowers #slider {
  min-height: 600px;
  overflow: hidden;
}

@import "./assets/styles/componentStyles.css";
