/* --- MEDIA QUERIES --- */
@media only screen and (min-width: 992px) {
  #navLinks {
    margin-right: 3em;
  }

  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: flex-end;
  }

  .navbar-nav .nav-item,
  .navbar-nav .nav-link {
    margin-left: 50px;
  }

  .navbar-brand {
    margin-left: 3em;
  }

  #banner #banner_h1 {
    font-size: 4.5rem;
    width: 80vw;
    position: relative;
    left: -42%;
  }

  #banner img {
    height: 93vh;
  }

  #banner_col1 {
    position: relative;
    left: 10.5%;
    z-index: 1;
  }

  #banner_h4 {
    padding: 2rem 0 2.5rem 2.5rem;
    width: 50vw;
  }

  #banner_button {
    position: relative;
    left: -6%;
  }
}
