/* --- MEDIA QUERIES --- */
@media only screen and (min-width: 992px) {
  #navLinks {
    margin-right: 3em;
  }

  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: flex-end;
  }

  .navbar-nav .nav-item,
  .navbar-nav .nav-link {
    margin-left: 50px;
  }

  .navbar-brand {
    margin-left: 3em;
  }

  #banner #banner_h1 {
    font-size: 4.5rem;
    width: 80vw;
    position: relative;
    left: -42%;
  }

  #banner img {
    height: 93vh;
  }

  #banner_col1 {
    position: relative;
    left: 10.5%;
    z-index: 1;
  }

  #banner_h4 {
    padding: 2rem 0 2.5rem 2.5rem;
    width: 50vw;
  }

  #banner_button {
    position: relative;
    left: -6%;
  }

  /* --- MAIN --- */

  main #our_mission {
    border-bottom: 1px solid white;
  }

  main #our_mission h4 {
    width: 72%;
    padding-top: 0;
    padding-bottom: 2.75rem;
  }

  main #our_mission #carousel .row {
    margin-top: 125px;
  }

  main #our_mission img {
    padding: 0 5px;
  }

  main #our_mission #image2 {
    padding: 0 5px;
    object-fit: fill;
    position: relative;
    bottom: 25%;
  }

  main #flowers {
    margin-top: 50px;
  }
}
